:root {
    --bright: #ffffff;
    --background: rgb(58, 58, 58);
    --click: rgb(202, 115, 0);
    --dark: #1d1d1d;
    --accent: rgb(0, 0, 0);
    --accent2: rgb(202, 115, 0);
}

* {
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    background-color: var(--background);
    min-height: 100vh;
}

#tasx {
    font-size: 1.5em;
    color: var(--accent2);
}

.main {
    width: 90vw;
}

.main h2 {
    background-color: var(--accent);
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    color: var(--bright);
}


.main form {
    display: flex;
    margin-top: 20px;
}

#form-part-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-right: 10px;
}

#form-part-one input {
    background-color: var(--bright);
    border: 2px solid var(--dark);
    border-radius: 15px;
    font-size: 18px;
    padding: 20px;
    flex: 1;
    max-height: 30px;
    position: relative;
    top: 0;
    z-index: 99;
}

#form-part-two {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

label {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
    color: var(--bright);
}

#priority {
    color: var(--accent);
    padding: 0px;
    margin: 20px 0px 0px 50px;
}

textarea {
    background-color: var(--bright);
    border: 2px solid var(--dark);
    min-height: 20vh;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 18px;
    padding: 20px;
    width: 100%;
    resize: vertical;
}

#reveal {
    margin-top: 20px;
    margin-right: 20px;
    background-color: var(--click);
    border-radius: 15px;
    border: 2px solid var(--dark);
    color: var(--dark);
    font-size: 45px;
    width: 20%;
}

#date-btn {
    height: 30px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
}

#due-date {
    border: 2px solid var(--dark);
    border-radius: 15px;
    margin-right: 10px;
    width: 100%;
    font-size: 18px;
    padding: 20px;
}

#submit-btn {
    text-align: center;
    vertical-align: middle;
    line-height: 0px;
    border: 2px solid var(--dark);
    background-color: var(--click);
    border-radius: 15px;
    color: var(--dark);
    font-size: 45px;
    width: 20%;
    padding: 20px;
}

hr {
    border: none;
    margin-top: 20px;
    height: 5px;
    background-color: var(--accent);
}

#search-wrapper {
    display: flex;
}

#search {
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid var(--dark);
    color: var(--dark);
    font-size: 18px;
    width: 80%;
}

#lists {
    width: 100%;
    display: flex;
    flex: auto auto;
    flex-wrap: wrap;
}

#todo {
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
}

#todo h3 {
    color: var(--accent);
    font-size: 28px;
    margin-left: 50px;
    margin-top: 20px;
}


#done {
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
}

#done h3 {
    color: var(--accent);
    font-size: 28px;
    margin-left: 50px;
    margin-top: 20px;
}

#todo h3 i,
#done h3 i {
    margin-top: 0px;
    margin-bottom: 20px;
}


.main ul {
    list-style: none;
    color: var(--bright);
    padding: 0;
}

.main ul li {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
    background-color: var(--dark);
    border: 1px solid var(--bright);
}

.check {
    width: 20px;
    height: 20px;
}

.task-text {
    width: 90%;
    word-wrap: break-word;
    position: relative;
    align-self: flex-start;
    margin-right: 0px;
    vertical-align: top;
}

.task-title {
    font-size: 18px;
    width: fit-content;
    background: transparent;
    border: none;
    color: var(--bright);
}

.task-text h6 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
}

.task-due-date {
    position: absolute;
    top: 0px;
    right: 0px;
    color: var(--click);
    float: right;
}

.task-edit {
    align-self: flex-start;
    align-items: flex-end;
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.task-title :focus {
    outline: none;
}



i:first-of-type {
    margin-top: 50px;
}


i {
    font-size: 25px;
    margin: 20px 0px 0px 0px;
}

i:hover {
    color: red;
}


#done-items h4,
#done-items h6 {
    color: var(--accent);
    text-decoration: line-through;
}

#done-items .task-due-date {
    color: rgb(67, 67, 67);
}

@media only screen and (max-width:768px) {
    .wrapper {
        padding-top: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    textarea {
        margin-left: 0px;
    }

    .main {
        width: 95vw;
    }

    .main form button {

        margin-right: 0px;
        width: 100%;
    }

    textarea {
        min-height: 15vh;
    }

    #priority {
        color: var(--accent);
        padding: 0px;
        margin: 5px 50px 0px 50px;
    }

    #lists {
        flex-direction: column;
    }

    #todo,
    #done {
        margin-left: 0;
        width: 100%;
        padding: 0px;
    }


    #done {
        margin-left: 0;
        margin-top: 40px;

    }

    #date-btn {
        margin-top: 20px;
        margin-left: 0px;
    }


}

.active {
    color: red;
}

.urgent:not(#done-items *) {
    color: red;
    background-color: rgb(0, 0, 0);
}

.urgent:not(#done-items *) {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    0% {
        opacity: 0;
    }
}


/* class to hide/switch forms between search and add task */
.none {
    display: none !important;
}